/*--------------------------------------------------------------
# Aprende con nosotros
--------------------------------------------------------------*/
.aprende {
    & .container {
        padding: 15px;
    }
}
/*--------------------------------------------------------------
# Nuestros proyectos
--------------------------------------------------------------*/
.proyectos {
    background-color: $primary-color;
    & .container {
        padding: 15px;
    }
}
/*--------------------------------------------------------------
# Nuestras obras
--------------------------------------------------------------*/
.obras {
    & .container {
        padding: 15px;
    }
}