$primary-color: #000;
$secondary-color: #fff;
$third-color: #7e7e7e;
$rojo-zator: #db1c1e;
$amarillo-inmobiliaria: #fefe02;
// $third-color: #0A0A0A;

$bg-color: $primary-color;
$bg-color-alt: $secondary-color;

$rojo-zator-hover: #b40f11;