/* LOGO */
.banner {
    & .bg-image {
        & img {
            bottom: -12%;
            left: 10%;
            max-width: 220px;
            min-width: 180px;
            position: absolute;
            width: 20vw;
            z-index: 2;
        }
    }
}

/* SOBRESCRIBO COLORES DE LA GALERÍA */
.gallery-item-container {
    max-height: 347.05px;
}
.gallery-item-info {
    background-color: transparent !important;
}
.gallery-item-info h4 {
    color: #fff !important;
}
.gallery-item-info h5 {
    color: #fefe02;
    font-weight: 700;
}

/* QUERIES */
@media screen and (max-width: 767px){
    .banner {
        & .bg-image {
            & img {
                bottom: -12%;
                left: 50%;
                max-width: 200px;
                min-width: 150px;
                transform: translateX(-50%);
                width: 30vw;
            }
        }
    }
}
