@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
/* DE HECHO AQUÍ SOBREESCRIBO TODO, WOOH */
/* Mala practica jeje, quizá debe resolverlo después */
/* LOGO */
.bg-image img {
    bottom: -12% !important;
    left: 10% !important;
    max-width: 220px !important;
    min-width: 180px !important;
    position: absolute !important;
    width: 20vw !important;
    z-index: 2 !important;
}

/* SOBRESCRIBO COLORES DE LA GALERÍA */
.gallery-item-info {
    background-color: transparent !important;
    text-align: center;
}
.gallery-item-info h4 {
    color: #fff !important;
}
.gallery-item-info h5 {
    color: #fefe02;
    font-weight: 700;
}

/* LightBox dinámico */
.gallery-item-info h2 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}
.gallery-item-info .lightbox-ubi {
    color: #757881;
    padding: 0.5rem 0;
    margin: 0;
}
.gallery-item-info .lightbox-ubi::before {
    content: "\F3E7";
    font-family: "bootstrap-icons";
    padding-right: 0.5rem;
    vertical-align: bottom;
}
.gallery-item-info .lightbox-precio {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
    padding: 0.5rem 0;
}
.gallery-item-info .lightbox-highlights {
    color: #757881;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.85rem;
    gap: 1rem;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0.5rem 0;
}
.gallery-item-info .lightbox-highlights-area::before {
    content: "\f065";
    font: var(--fa-font-solid);
    padding-right: 0.5rem;
}
.gallery-item-info .lightbox-highlights-building::before {
    content: "\f015";
    font: var(--fa-font-solid);
    padding-right: 0.5rem;
}
.gallery-item-info .lightbox-highlights-rooms::before {
    content: "\f236";
    font: var(--fa-font-solid);
    padding-right: 0.5rem;
}
.gallery-item-info .lightbox-highlights-restrooms::before {
    content: "\f2cd";
    font: var(--fa-font-solid);
    padding-right: 0.5rem;
}
.gallery-item-info .lightbox-caracteristicas {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
.gallery-item-info .lightbox-caracteristicas ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.gallery-item-info .lightbox-caracteristicas ul li::before {
    content: "\F26E";
    font-family: "bootstrap-icons";
    padding-right: 0.5rem;
    vertical-align: bottom;
}
.gallery-item-info .lightbox-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 1.5rem 0 1rem;
}
/* QUERIES */
@media screen and (max-width: 767px){
    .bg-image img {
        bottom: -12%;
        left: 50% !important;
        max-width: 200px !important;
        min-width: 150px !important;
        transform: translateX(-50%) !important;
        width: 30vw !important;
    }
}
