/* DE HECHO AQUÍ SOBREESCRIBO TODO, WOOH */
/* Mala practica jeje, quizá debe resolverlo después */
/* LOGO */
.bg-image img {
    bottom: -12% !important;
    left: 10% !important;
    max-width: 220px !important;
    min-width: 180px !important;
    position: absolute !important;
    width: 20vw !important;
    z-index: 2 !important;
}

/* SOBRESCRIBO COLORES DE LA GALERÍA */
.gallery-item-info {
    background-color: transparent !important;
}
.gallery-item-info h4 {
    color: #fff !important;
}
.gallery-item-info h5 {
    color: #fefe02;
    font-weight: 700;
}

/* QUERIES */
@media screen and (max-width: 767px){
    .bg-image img {
        bottom: -12%;
        left: 50% !important;
        max-width: 200px !important;
        min-width: 150px !important;
        transform: translateX(-50%) !important;
        width: 30vw !important;
    }
}
